<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Home 3 - Businessz</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CPT+Sans:400,400i,700,700i">
	
	<link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css">
	
	<!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet">    
	
	<!-- Custom - Common CSS -->
	<link rel="stylesheet" href="assets/css/plugins.css">
	<link rel="stylesheet" href="assets/css/elements.css">
	<link rel="stylesheet" href="assets/css/rtl.css">
	<link rel="stylesheet" type="text/css" href="style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->

	<!-- Header Section -->
	<header class="header_s header_s2">
		<!-- SidePanel -->
		<div id="slidepanel">
			<!-- Top Header -->
			<div class="container-fluid no-right-padding no-left-padding top-header">
				<!-- Container -->
				<div class="container">						
					<div class="top-left">
						<span><i class="fa fa-envelope"></i><a href="mailto:rupa@yourdomain.com">rupa@yourdomain.com</a></span>
						<span><i class="fa fa-phone-square"></i><a href="tel:888321-123-858">(888) - 321-123-858</a></span>
					</div>
					<div class="top-right">
						<ul>
							<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->
		</div><!-- SidePanel /- -->
		<!-- Menu Block -->
		<div class="menu-block">
			<!-- Container -->
			<div class="container">
				<!-- Ownavigation -->
				<nav class="navbar ownavigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html">Busin<span>essz</span></a>
					</div>
					<div class="search">
						<a href="javascript:void(0);" id="search" title="Search"><i class="lnr lnr-magnifier"></i></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active dropdown">
								<a href="index.html" title="Home" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="index2.html" title="Home 2">Home 2</a></li>
									<li><a href="index3.html" title="Home 3">Home 3</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="about.html" title="About" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">About</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="about2.html" title="About 2">About 2</a></li>
								</ul>
							</li>								
							<li class="dropdown">
								<a href="#" title="Portfolio" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Portfolio</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="portfolio-2-col.html" title="Portfolio 2 column">Portfolio 2 Column</a></li>
									<li><a href="portfolio-3-col.html" title="Portfolio 3 column">Portfolio 3 Column</a></li>
									<li><a href="portfolio-masonry.html" title="Portfolio Masonry">Portfolio Masonry</a></li>
									<li><a href="portfolio-single.html" title="Portfolio Single">Portfolio Single</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="services.html" title="Services" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="services2.html" title="Services 2">Services 2</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="blog-post.html" title="News" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">News</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="blog-single.html" title="Blog Single">Blog Single</a></li>
								</ul>
							</li>
							<li><a href="team.html" title="Team">Team</a></li>
							<li><a href="contactus.html" title="Contact">Contact</a></li>
						</ul>
					</div>
					<div id="loginpanel" class="desktop-hide">
						<div class="right" id="toggle">
							<a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
							<a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
						</div>
					</div>
				</nav><!-- Ownavigation /- -->
				<!-- Search Box -->
				<div class="search-box">
					<span><i class="icon_close"></i></span>
					<form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
				</div><!-- Search Box /- -->
			</div><!-- Container /- -->
		</div><!-- Menu Block /- -->
	</header><!-- Header Section /- -->

	<div class="main-container">
	
		<main class="site-main">		
			
			<div id="home_slider_3_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="homeslider1" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
				<div id="home_slider_3" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
					<ul>	<!-- SLIDE  -->
						<li data-index="rs-1" data-transition="fade,random-premium,random-static,random" data-slotamount="default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default,default" data-easeout="default,default,default,default" data-masterspeed="300,default,default,default"  data-thumb="assets/slide-3-100x50.jpg"  data-rotate="0,0,0,0"  data-saveperformance="off"  class="slider-overlay" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="assets/images/slide-3.jpg"  alt="" title="slide-3"  width="1920" height="810" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-resizeme" id="slide-1-layer-1" 
								data-x="['left','left','left','left']" data-hoffset="['375','112','24','13']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['-43','-43','-60','-50']" 
								data-fontsize="['50','50','43','31']"
								data-letterspacing="['7.5','7.5','3.5','2.5']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"					 
								data-type="text" 
								data-responsive_offset="on"
								data-frames='[{"delay":10,"split":"chars","splitdelay":0.05,"speed":1000,"split_direction":"forward","frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 40px; font-weight: 700; color: #ffffff; letter-spacing: 7.5px;font-family:PT Sans;text-transform:uppercase;">IT'S AWESOME & ULTIMATE 
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption tp-resizeme" id="slide-1-layer-2" 
								data-x="['left','left','left','left']" data-hoffset="['375','115','24','15']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['20','20','0','0']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"					 
								data-type="text" 
								data-responsive_offset="on"
								data-frames='[{"delay":10,"split":"chars","splitdelay":0.1,"speed":1500,"split_direction":"forward","frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 6; white-space: nowrap; font-size: 22px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 3.3px;font-family:PT Sans;text-transform:uppercase;">best theme foy businessz 
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption rev-btn slide-btn-buy-now" id="slide-1-layer-3" 
								data-x="['left','left','left','left']" data-hoffset="['375','115','25','16']" 
								data-y="['middle','top','middle','middle']" data-voffset="['89','364','69','64']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"					 
								data-type="button" 
								data-responsive_offset="on" 
								data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgba(239, 239, 239, 0);bc:rgb(255,255,255);"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[17,17,17,17]"
								data-paddingright="[46,46,46,46]"
								data-paddingbottom="[15,15,15,15]"
								data-paddingleft="[46,46,46,46]"
								style="z-index: 7; white-space: nowrap; font-size: 15px; line-height: 17px; font-weight: 700; color: #222222; letter-spacing: px;font-family:Montserrat;text-transform:uppercase;background-color:rgba(0, 0, 0, 0);border-color:rgba(0,0,0,1);border-style:solid;border-width:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Buy now 
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption rev-btn" id="slide-1-layer-4" 
								data-x="['left','left','left','left']" data-hoffset="['574','310','221','211']" 
								data-y="['middle','top','top','middle']" data-voffset="['89','363','286','64']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"					 
								data-type="button" 
								data-responsive_offset="on"
								data-frames='[{"delay":10,"speed":2500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"1000ms","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[20,20,20,20]"
								data-paddingright="[35,35,35,35]"
								data-paddingbottom="[20,20,20,20]"
								data-paddingleft="[35,35,35,35]"
								style="z-index: 8; white-space: nowrap; font-size: 15px; line-height: 17px; font-weight: 700; color: #ffffff; letter-spacing: 1.5px;font-family:Montserrat;text-transform:uppercase;background-color:rgb(239,82,82);border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">view more 
							</div>
						</li>
						<li data-index="rs-2" data-transition="fade,random-premium,random-static,random" data-slotamount="default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default,default" data-easeout="default,default,default,default" data-masterspeed="300,default,default,default"  data-thumb="assets/slide-3-100x50.jpg"  data-rotate="0,0,0,0"  data-saveperformance="off"  class="slider-overlay" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="assets/images/slide-3.jpg"  alt="" title="slide-3"  width="1920" height="810" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-resizeme" id="slide-2-layer-1" 
								data-x="['left','left','left','left']" data-hoffset="['375','112','24','13']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['-43','-43','-60','-50']" 
								data-fontsize="['50','50','43','31']"
								data-letterspacing="['7.5','7.5','3.5','2.5']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"					 
								data-type="text" 
								data-responsive_offset="on"
								data-frames='[{"delay":10,"split":"chars","splitdelay":0.05,"speed":1000,"split_direction":"forward","frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 40px; font-weight: 700; color: #ffffff; letter-spacing: 7.5px;font-family:PT Sans;text-transform:uppercase;">IT'S AWESOME & ULTIMATE 
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption tp-resizeme" id="slide-2-layer-2" 
								data-x="['left','left','left','left']" data-hoffset="['375','115','24','15']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['20','20','0','0']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"					 
								data-type="text" 
								data-responsive_offset="on"
								data-frames='[{"delay":10,"split":"chars","splitdelay":0.1,"speed":1500,"split_direction":"forward","frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 6; white-space: nowrap; font-size: 22px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 3.3px;font-family:PT Sans;text-transform:uppercase;">best theme foy businessz 
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption rev-btn slide-btn-buy-now" id="slide-2-layer-3" 
								data-x="['left','left','left','left']" data-hoffset="['375','115','25','16']" 
								data-y="['middle','top','middle','middle']" data-voffset="['89','364','69','64']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"					 
								data-type="button" 
								data-responsive_offset="on" 
								data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgba(239, 239, 239, 0);bc:rgb(255,255,255);"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[17,17,17,17]"
								data-paddingright="[46,46,46,46]"
								data-paddingbottom="[15,15,15,15]"
								data-paddingleft="[46,46,46,46]"
								style="z-index: 7; white-space: nowrap; font-size: 15px; line-height: 17px; font-weight: 700; color: #222222; letter-spacing: px;font-family:Montserrat;text-transform:uppercase;background-color:rgba(0, 0, 0, 0);border-color:rgba(0,0,0,1);border-style:solid;border-width:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Buy now 
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption rev-btn" id="slide-2-layer-4" 
								data-x="['left','left','left','left']" data-hoffset="['574','310','221','211']" 
								data-y="['middle','top','top','middle']" data-voffset="['89','363','286','64']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"					 
								data-type="button" 
								data-responsive_offset="on"
								data-frames='[{"delay":10,"speed":2500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"1000ms","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[20,20,20,20]"
								data-paddingright="[35,35,35,35]"
								data-paddingbottom="[20,20,20,20]"
								data-paddingleft="[35,35,35,35]"
								style="z-index: 8; white-space: nowrap; font-size: 15px; line-height: 17px; font-weight: 700; color: #ffffff; letter-spacing: 1.5px;font-family:Montserrat;text-transform:uppercase;background-color:rgb(239,82,82);border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">view more 
							</div>
						</li>
						<li data-index="rs-3" data-transition="fade,random-premium,random-static,random" data-slotamount="default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default,default" data-easeout="default,default,default,default" data-masterspeed="300,default,default,default"  data-thumb="assets/slide-3-100x50.jpg"  data-rotate="0,0,0,0"  data-saveperformance="off"  class="slider-overlay" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="assets/images/slide-3.jpg"  alt="" title="slide-3"  width="1920" height="810" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-resizeme" id="slide-3-layer-1" 
								data-x="['left','left','left','left']" data-hoffset="['375','112','24','13']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['-43','-43','-60','-50']" 
								data-fontsize="['50','50','43','31']"
								data-letterspacing="['7.5','7.5','3.5','2.5']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"					 
								data-type="text" 
								data-responsive_offset="on"
								data-frames='[{"delay":10,"split":"chars","splitdelay":0.05,"speed":1000,"split_direction":"forward","frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 40px; font-weight: 700; color: #ffffff; letter-spacing: 7.5px;font-family:PT Sans;text-transform:uppercase;">IT'S AWESOME & ULTIMATE 
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption tp-resizeme" id="slide-3-layer-2" 
								data-x="['left','left','left','left']" data-hoffset="['375','115','24','15']" 
								data-y="['middle','middle','middle','middle']" data-voffset="['20','20','0','0']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"					 
								data-type="text" 
								data-responsive_offset="on"
								data-frames='[{"delay":10,"split":"chars","splitdelay":0.1,"speed":1500,"split_direction":"forward","frame":"0","from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"x:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 6; white-space: nowrap; font-size: 22px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 3.3px;font-family:PT Sans;text-transform:uppercase;">best theme foy businessz 
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption rev-btn slide-btn-buy-now" id="slide-3-layer-3" 
								data-x="['left','left','left','left']" data-hoffset="['375','115','25','16']" 
								data-y="['middle','top','middle','middle']" data-voffset="['89','364','69','64']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"					 
								data-type="button" 
								data-responsive_offset="on" 
								data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgba(239, 239, 239, 0);bc:rgb(255,255,255);"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[17,17,17,17]"
								data-paddingright="[46,46,46,46]"
								data-paddingbottom="[15,15,15,15]"
								data-paddingleft="[46,46,46,46]"
								style="z-index: 7; white-space: nowrap; font-size: 15px; line-height: 17px; font-weight: 700; color: #222222; letter-spacing: px;font-family:Montserrat;text-transform:uppercase;background-color:rgba(0, 0, 0, 0);border-color:rgba(0,0,0,1);border-style:solid;border-width:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Buy now 
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption rev-btn" id="slide-3-layer-4" 
								data-x="['left','left','left','left']" data-hoffset="['574','310','221','211']" 
								data-y="['middle','top','top','middle']" data-voffset="['89','363','286','64']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"					 
								data-type="button" 
								data-responsive_offset="on"
								data-frames='[{"delay":10,"speed":2500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"1000ms","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[20,20,20,20]"
								data-paddingright="[35,35,35,35]"
								data-paddingbottom="[20,20,20,20]"
								data-paddingleft="[35,35,35,35]"
								style="z-index: 8; white-space: nowrap; font-size: 15px; line-height: 17px; font-weight: 700; color: #ffffff; letter-spacing: 1.5px;font-family:Montserrat;text-transform:uppercase;background-color:rgb(239,82,82);border-color:rgba(0,0,0,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">view more 
							</div>
						</li>
					</ul>
					<div class="tp-bannertimer" style="height: 5px; background: rgba(0,0,0,0.15);"></div>
				</div>
			</div><!-- END REVOLUTION SLIDER -->
			
			<!-- About Section -->
			<div class="container-fluid no-left-padding no-right-padding about-section">
				<!-- Container -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div class="col-md-7 about-content">
							<!-- Section Header -->
							<div class="section-header">
								<h3>What We <span>Do</span></h3>
								<p>There are many variations of passages of Lorem Ipsum available</p>
							</div><!-- Section Header /- -->
							<div id="skill_type-1" class="skill-block">
								<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet,iaculis libero. Donec vel ultricies purus. Nam dictum sem, ealiquam. Fermentum orci amet, iaculis libero.</p>
								<div class="skill-progress-box">
									<h3 class="block-title">design</h3>
									<span data-skill_percent="90" id="skill_1_count-1"></span>
									<div class="progress-box">
										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" id="skill_bar_1_count-1"></div>
										</div>
									</div>
								</div>
								<div class="skill-progress-box">
									<h3 class="block-title">development</h3>
									<span data-skill_percent="85" id="skill_1_count-2"></span>
									<div class="progress-box">
										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" id="skill_bar_1_count-2"></div>
										</div>
									</div>
								</div>
								<div class="skill-progress-box">
									<h3 class="block-title">branding</h3>
									<span data-skill_percent="95" id="skill_1_count-3"></span>
									<div class="progress-box">
										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" id="skill_bar_1_count-3"></div>
										</div>
									</div>
								</div>
								<div class="skill-progress-box">
									<h3 class="block-title">coding</h3>
									<span data-skill_percent="82" id="skill_1_count-4"></span>
									<div class="progress-box">
										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" id="skill_bar_1_count-4"></div>
										</div>
									</div>
								</div>
								<a href="#" title="Learn More">Learn More</a>
							</div>
						</div>
					</div><!-- Row -->
				</div><!-- Container /- -->
				<div class="abt-img">
					<img src="http://placehold.it/422x624" alt="About" />
				</div>
			</div><!-- About Section /- -->
			
			<!-- Counter Section -->
			<div id="counter-section" class="container-fluid no-left-padding no-right-padding counter-section counter-style-2 counter-style-3">
				<!-- Container -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div id="counter_type-1">
							<div class="col-md-3 col-xs-6">
								<div class="counter-box">
									<span id="count_1_box-1" data-skills_percent="75"></span>
									<div class="counter-content">
										<i class="fa fa-trophy"></i>
										<h4>AWARDS</h4>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="counter-box">
									<span id="count_1_box-2" data-skills_percent="97"></span>
									<div class="counter-content">
										<i class="fa fa-user"></i>
										<h4>Clients</h4>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="counter-box">
									<span id="count_1_box-3" data-skills_percent="95"></span>
									<div class="counter-content">
										<i class="fa fa-line-chart"></i>
										<h4>Projects</h4>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="counter-box">
									<span id="count_1_box-4" data-skills_percent="74"></span>
									<div class="counter-content">
										<i class="fa fa-coffee"></i>
										<h4>COFFEE CUPS</h4>
									</div>
								</div>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Counter Section /- -->
			
			<!-- History Section -->
			<div class="container-fluid no-left-padding no-right-padding history-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>our <span>History</span></h3>
						<p>There are many variations of passages of Lorem Ipsum available</p>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="col-md-offset-1 col-md-10 col-xs-12 history-content">
							<div class="col-xs-12 no-padding">
								<div class="col-md-6 col-sm-6 col-xs-12 no-padding">
									<div class="history-box">
										<span>20 jan 2015</span>
										<h3>Company Established</h3>
										<p>Etiam sit amet fringilla lacus. Pellentesque suscipi ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 no-padding">
								<div class="col-md-6 col-sm-6 col-xs-12 no-padding">
									<div class="history-box">
										<span>20 jan 2016</span>
										<h3>First Award</h3>
										<p>Etiam sit amet fringilla lacus. Pellentesque suscipi ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 no-padding">
								<div class="col-md-6 col-sm-6 col-xs-12 no-padding">
									<div class="history-box">
										<span>20 jan 2020</span>
										<h3>Become top Popular</h3>
										<p>Etiam sit amet fringilla lacus. Pellentesque suscipi ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend.</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 no-padding">
								<div class="col-md-6 col-sm-6 col-xs-12 no-padding">
									<div class="history-box">
										<span>20 jan 2022</span>
										<h3>new branch launched</h3>
										<p>Etiam sit amet fringilla lacus. Pellentesque suscipi ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend.</p>
									</div>
								</div>
							</div>
						</div>
					</div><!-- Row /- -->
					<div class="view-more">
						<a href="#" title="View More">View More</a>
					</div>
				</div><!-- Container /- -->
			</div><!-- History Section /- -->
			
			<!-- Process Section -->
			<div class="container-fluid no-left-padding no-right-padding process-section process-section2">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>our <span>work</span> process</h3>
						<p>There are many variations of passages of Lorem Ipsum available</p>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="process-block">
							<div class="col-md-3 col-sm-3 col-xs-3 process-box">
								<div class="process-cnt">
									<i class="lnr lnr-database"></i>
									<h4>analysis</h4>
								</div>
								<span></span>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 process-box">
								<div class="process-cnt">
									<i class="lnr lnr-question-circle"></i>
									<h4>plan</h4>
								</div>
								<span></span>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 process-box">
								<div class="process-cnt">
									<i class="lnr lnr-pencil"></i>
									<h4>sketch</h4>
								</div>
								<span></span>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 process-box">
								<div class="process-cnt">
									<i class="lnr lnr-magic-wand"></i>
									<h4>design</h4>
								</div>
								<span></span>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 process-box">
								<div class="process-cnt">
									<i class="lnr lnr-laptop"></i>
									<h4>project</h4>
								</div>
								<span></span>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 process-box">
								<div class="process-cnt">
									<i class="lnr lnr-code"></i>
									<h4>development</h4>
								</div>
								<span></span>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 process-box">
								<div class="process-cnt">
									<i class="lnr lnr-chart-bars"></i>
									<h4>testing</h4>
								</div>
								<span></span>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-3 process-box">
								<div class="process-cnt">
									<i class="lnr lnr-thumbs-up"></i>
									<h4>sucesfull</h4>
								</div>
								<span></span>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Process Section /- -->
			
			<!-- Price Section -->
			<div class="container-fluid no-left-padding no-right-padding price-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>The <span>pricing</span></h3>
						<p>There are many variations of passages of Lorem Ipsum available</p>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="price-box">
								<div class="price-content">
									<i class="lnr lnr-rocket"></i>
									<h4>BASIC</h4>
									<h3><sup>$</sup>99</h3>
									<ul>
										<li>Basic Updates</li>
										<li>Basic Features</li>
										<li>Community Support</li>
										<li>Real time Monitoring</li>
										<li>Premium Support</li>
										<li>Basic Updates</li>
									</ul>
								</div>
								<a href="#" title="Buy Now">Buy Now</a>
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="price-box">
								<div class="price-content">
									<i class="lnr lnr-rocket"></i>
									<h4>STANDARD</h4>
									<h3><sup>$</sup>100</h3>
									<ul>
										<li>Basic Updates</li>
										<li>Basic Features</li>
										<li>Community Support</li>
										<li>Real time Monitoring</li>
										<li><del>Premium Support</del></li>
										<li>Basic Updates</li>
									</ul>
								</div>
								<a href="#" title="Buy Now">Buy Now</a>
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="price-box">
								<div class="price-content">
									<i class="lnr lnr-rocket"></i>
									<h4>PREMIUM</h4>
									<h3><sup>$</sup>199</h3>
									<ul>
										<li>Basic Updates</li>
										<li><del>Basic Features</del></li>
										<li>Community Support</li>
										<li>Real time Monitoring</li>
										<li><del>Premium Support</del></li>
										<li>Basic Updates</li>
									</ul>
								</div>
								<a href="#" title="Buy Now">Buy Now</a>
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="price-box">
								<div class="price-content">
									<i class="lnr lnr-rocket"></i>
									<h4>EXTRA PREMIUM</h4>
									<h3><sup>$</sup>200</h3>
									<ul>
										<li>Basic Updates</li>
										<li>Basic Features</li>
										<li>Community Support</li>
										<li>Real time Monitoring</li>
										<li>Premium Support</li>
										<li><del>Basic Updates</del></li>
									</ul>
								</div>
								<a href="#" title="Buy Now">Buy Now</a>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Price Section /- -->
			
			<!-- Tesimonial Section -->
			<div class="container-fluid no-left-padding no-right-padding testimonial-section testimonial-section2">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>What <span>people</span> say</h3>
						<p>There are many variations of passages of Lorem Ipsum available</p>
					</div><!-- Section Header /- -->
					
					<div class="col-md-offset-2 col-md-8 no-padding">
						<!-- Tesimonial Carousel -->
						<div id="testimonial-carousel" class="carousel slide carousel-fade" data-ride="carousel">
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<i class="fa fa-quote-left"></i>
									<p>Paragraph writing is the foundation of all essay writing, whether the form is expository, persuasive, narrative, or creative. In order to write a good paragraph</p>
									<img src="http://placehold.it/90x90" alt="Testimonial" />
								</div>
								<div class="item">
									<i class="fa fa-quote-left"></i>
									<p>Paragraph writing is the foundation of all essay writing, whether the form is expository, persuasive, narrative, or creative. In order to write a good paragraph</p>
									<img src="http://placehold.it/90x90" alt="Testimonial" />
								</div>
								<div class="item">
									<i class="fa fa-quote-left"></i>
									<p>Paragraph writing is the foundation of all essay writing, whether the form is expository, persuasive, narrative, or creative. In order to write a good paragraph</p>
									<img src="http://placehold.it/90x90" alt="Testimonial" />
								</div>
							</div>
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#testimonial-carousel" data-slide-to="1"></li>
								<li data-target="#testimonial-carousel" data-slide-to="2"></li>
							</ol>
						</div><!-- Tesimonial Carousel /- -->
					</div>
				</div><!-- Container /- -->
			</div><!-- Tesimonial Section /- -->
			
			<!-- Team Style 1 -->
			<div class="container-fluid no-left-padding no-right-padding team-section team-style-1">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>team <span>stile 1</span></h3>
						<p>There are many variations of passages of Lorem Ipsum available</p>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="team-carousel">
						<div class="item">
							<div class="team-box">
								<div class="team-details">
									<div class="team-img">
										<img src="http://placehold.it/350x335" alt="Team" />
									</div>
									<div class="team-content">
										<h3>Jeffery Larson</h3>
										<p>Manager</p>
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-skype"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="team-box">
								<div class="team-details">
									<div class="team-img">
										<img src="http://placehold.it/350x335" alt="Team" />
									</div>
									<div class="team-content">
										<h3>Olene Donofrio</h3>
										<p>General Manager</p>
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-skype"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="team-box">
								<div class="team-details">
									<div class="team-img">
										<img src="http://placehold.it/350x335" alt="Team" />
									</div>
									<div class="team-content">
										<h3>Troy Schultz</h3>
										<p>Support</p>
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-skype"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="team-box">
								<div class="team-details">
									<div class="team-img">
										<img src="http://placehold.it/350x335" alt="Team" />
									</div>
									<div class="team-content">
										<h3>Olene Donofrio</h3>
										<p>General Manager</p>
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-skype"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Team Style 1 /- -->
			
			<!-- Call To Action Section -->
			<div class="container-fluid no-left-padding no-right-padding call-to-action-section call-to-action-bg">
				<!-- Container -->
				<div class="container">
					<div class="call-to-action-block">
						<h3>Have you fall in love with this theme yet?</h3>
						<a href="#" class="learn-more" title="Learn More">Learn More</a>
						<a href="#" class="buy-now" title="Buy Now">Buy Now</a>
					</div>
				</div><!-- Container /- -->
			</div><!-- Call To Action Section /- -->			
			
		</main>
		
	</div>
	
	<!-- Footer Main -->
	<footer id="footer-main" class="container-fluid no-left-padding no-right-padding footer-main">
		<!-- Top Footer -->
		<div class="container-fluid no-left-padding no-right-padding top-footer">
			<!-- Container -->
			<div class="container">
				<!-- Row -->
				<div class="row">					
					<!-- Widget About -->
					<div class="col-md-4 col-sm-6 col-xs-6">
						<aside class="widget widget_about">
							<h3 class="widget-title">about us</h3>
							<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet,iaculis libero.</p>
							<aside class="widget widget_social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fa fa-skype"></i></a></li>
								</ul>
							</aside>
						</aside>
					</div><!-- Widget About /- -->
					<!-- Widget Links -->
					<div class="col-md-4 col-sm-6 col-xs-6">
						<aside class="widget widget_flickr">
							<h3 class="widget-title">flickr photo</h3>
							<ul>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
							</ul>
						</aside>
					</div><!-- Widget Links /- -->
					<!-- Widget Contact -->
					<div class="col-md-4 col-sm-6 col-xs-6">
						<aside class="widget widget_contact">
							<h3 class="widget-title">office Info :</h3>
							<p><i class="lnr lnr-map"></i><span>Our Location :</span>Street, New York, USA</p>
							<p><i class="lnr lnr-smartphone"></i><span>Our Contacts :</span><a href="tel:+8801234567891">+88012-34567891</a></p>
							<p><i class="lnr lnr-envelope"></i><span>Our Email :</span><a href="mailto:example@gmail.com">example@gmail.com</a></p>							
						</aside>
					</div><!-- Widget Contact /- -->
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</div><!-- Top Footer -->
		<!-- Bottom Footer -->
		<div class="container-fluid no-left-padding no-right-padding bottom-footer">
			<!-- Container -->
			<div class="container">
				<!-- Row -->
				<div class="row">
					<div class="col-md-4 btm-ftr-left">
						<a href="#">Busin<span>essz</span></a>
					</div>
					<div class="col-md-4 btm-ftr-center">
						<p>Copyright © 2017 Businessz HTML Template</p>
					</div>
					<div class="col-md-4 btm-ftr-right">
						<a id="back-to-top" href="#"><i class="fa fa-rocket"></i></a>
					</div>
				</div><!-- Row /- -->
			</div><!-- Container -->
		</div><!-- Bottom Footer /- -->
	</footer><!-- Footer Main /- -->
	
	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/lib.js"></script>
	
	<!-- REVOLUTION JS FILES -->
	<script type="text/javascript" src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>

	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->	
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
	
	<!-- Library - Google Map API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE"></script>
	
	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>
	
</body>
</html>