<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Portfolio Single - Businessz</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CPT+Sans:400,400i,700,700i">
	
	<!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet">    
	
	<!-- Custom - Common CSS -->
	<link rel="stylesheet" href="assets/css/plugins.css">
	<link rel="stylesheet" href="assets/css/elements.css">
	<link rel="stylesheet" href="assets/css/rtl.css">
	<link rel="stylesheet" type="text/css" href="style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->

	<!-- Header Section -->
	<header class="header_s">
		<!-- SidePanel -->
		<div id="slidepanel">
			<!-- Top Header -->
			<div class="container-fluid no-right-padding no-left-padding top-header">
				<!-- Container -->
				<div class="container">						
					<div class="top-left">
						<span><i class="fa fa-envelope"></i><a href="mailto:rupa@yourdomain.com">rupa@yourdomain.com</a></span>
						<span><i class="fa fa-phone-square"></i><a href="tel:888321-123-858">(888) - 321-123-858</a></span>
					</div>
					<div class="top-right">
						<ul>
							<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->
		</div><!-- SidePanel /- -->
		<!-- Menu Block -->
		<div class="menu-block">
			<!-- Container -->
			<div class="container">
				<!-- Ownavigation -->
				<nav class="navbar ownavigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html">Busin<span>essz</span></a>
					</div>
					<div class="search">
						<a href="javascript:void(0);" id="search" title="Search"><i class="lnr lnr-magnifier"></i></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="index.html" title="Home" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="index2.html" title="Home 2">Home 2</a></li>
									<li><a href="index3.html" title="Home 3">Home 3</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="about.html" title="About" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">About</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="about2.html" title="About 2">About 2</a></li>
								</ul>
							</li>								
							<li class="active dropdown">
								<a href="#" title="Portfolio" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Portfolio</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="portfolio-2-col.html" title="Portfolio 2 column">Portfolio 2 Column</a></li>
									<li><a href="portfolio-3-col.html" title="Portfolio 3 column">Portfolio 3 Column</a></li>
									<li><a href="portfolio-masonry.html" title="Portfolio Masonry">Portfolio Masonry</a></li>
									<li><a href="portfolio-single.html" title="Portfolio Single">Portfolio Single</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="services.html" title="Services" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="services2.html" title="Services 2">Services 2</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="blog-post.html" title="News" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">News</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="blog-single.html" title="Blog Single">Blog Single</a></li>
								</ul>
							</li>
							<li><a href="team.html" title="Team">Team</a></li>
							<li><a href="contactus.html" title="Contact">Contact</a></li>
						</ul>
					</div>
					<div id="loginpanel" class="desktop-hide">
						<div class="right" id="toggle">
							<a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
							<a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
						</div>
					</div>
				</nav><!-- Ownavigation /- -->
				<!-- Search Box -->
				<div class="search-box">
					<span><i class="icon_close"></i></span>
					<form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
				</div><!-- Search Box /- -->
			</div><!-- Container /- -->
		</div><!-- Menu Block /- -->
	</header><!-- Header Section /- -->

	<div class="main-container">
	
		<!-- Page Banner -->
		<div class="container-fluid no-left-padding no-right-padding page-banner">
			<!-- Container -->
			<div class="container">
				<h3>Portfolio</h3>
			</div><!-- Container /- -->
		</div><!-- Page Banner /- -->
	
		<main class="site-main">		
			
			<!-- Portfolio Single -->
			<div class="container-fluid no-left-padding no-right-padding portfolio-single">
				<!-- Container -->
				<div class="container">
					<div class="col-md-7 col-xs-6 no-padding">
						<div class="col-xs-12 no-padding">
							<img src="http://placehold.it/690x370/aaa" alt="Portfolio" />
						</div>
						<div class="col-xs-6 no-padding">
							<img src="http://placehold.it/345x280/ddd" alt="Portfolio" />
						</div>
						<div class="col-xs-6 no-padding">
							<img src="http://placehold.it/345x280" alt="Portfolio" />
						</div>
					</div>
					<div class="col-md-5 col-xs-6 portfolio-detail">
						<!-- Section Header -->
						<div class="section-header">
							<h3>ourworks <span>table</span></h3>
							<p>There are many variations of passages</p>
						</div><!-- Section Header /- -->
						<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet,iaculis libero. Donec vel ultricies purus.</p>
						<p>Etiam sit amet fringilla lacus. Pellentesque suscipi ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend.</p>
						<a href="#" title="Visit The Site">Visit The Site</a>
						<ul>
							<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" title="Pinterest"><i class="fa fa-pinterest-p"></i></a></li>
							<li><a href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#" title="Skype"><i class="fa fa-skype"></i></a></li>
						</ul>
					</div>
				</div><!-- Container /- -->
			</div><!-- Portfolio Single /- -->
			
			<!-- Call To Action Section -->
			<div class="container-fluid no-left-padding no-right-padding call-to-action-section call-to-action-bg">
				<!-- Container -->
				<div class="container">
					<div class="call-to-action-block">
						<h3>Have you fall in love with this theme yet?</h3>
						<a href="#" class="learn-more" title="Learn More">Learn More</a>
						<a href="#" class="buy-now" title="Buy Now">Buy Now</a>
					</div>
				</div><!-- Container /- -->
			</div><!-- Call To Action Section /- -->

		</main>
		
	</div>
	
	<!-- Footer Main -->
	<footer id="footer-main" class="container-fluid no-left-padding no-right-padding footer-main">
		<!-- Top Footer -->
		<div class="container-fluid no-left-padding no-right-padding top-footer">
			<!-- Container -->
			<div class="container">
				<!-- Row -->
				<div class="row">					
					<!-- Widget About -->
					<div class="col-md-4 col-sm-6 col-xs-6">
						<aside class="widget widget_about">
							<h3 class="widget-title">about us</h3>
							<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet,iaculis libero.</p>
							<aside class="widget widget_social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fa fa-skype"></i></a></li>
								</ul>
							</aside>
						</aside>
					</div><!-- Widget About /- -->
					<!-- Widget Links -->
					<div class="col-md-4 col-sm-6 col-xs-6">
						<aside class="widget widget_flickr">
							<h3 class="widget-title">flickr photo</h3>
							<ul>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
								<li><a href="#"><img src="http://placehold.it/74x74" alt="Photo" /></a></li>
							</ul>
						</aside>
					</div><!-- Widget Links /- -->
					<!-- Widget Contact -->
					<div class="col-md-4 col-sm-6 col-xs-6">
						<aside class="widget widget_contact">
							<h3 class="widget-title">office Info :</h3>
							<p><i class="lnr lnr-map"></i><span>Our Location :</span>Street, New York, USA</p>
							<p><i class="lnr lnr-smartphone"></i><span>Our Contacts :</span><a href="tel:+8801234567891">+88012-34567891</a></p>
							<p><i class="lnr lnr-envelope"></i><span>Our Email :</span><a href="mailto:example@gmail.com">example@gmail.com</a></p>							
						</aside>
					</div><!-- Widget Contact /- -->
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</div><!-- Top Footer -->
		<!-- Bottom Footer -->
		<div class="container-fluid no-left-padding no-right-padding bottom-footer">
			<!-- Container -->
			<div class="container">
				<!-- Row -->
				<div class="row">
					<div class="col-md-4 btm-ftr-left">
						<a href="#">Busin<span>essz</span></a>
					</div>
					<div class="col-md-4 btm-ftr-center">
						<p>Copyright © 2017 Businessz HTML Template</p>
					</div>
					<div class="col-md-4 btm-ftr-right">
						<a id="back-to-top" href="#"><i class="fa fa-rocket"></i></a>
					</div>
				</div><!-- Row /- -->
			</div><!-- Container -->
		</div><!-- Bottom Footer /- -->
	</footer><!-- Footer Main /- -->
	
	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/lib.js"></script>
	
	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>
	
</body>
</html>